<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAsxFFWG8vx4iney86c2PozqO9ySLjCGmY</string>
	<key>GCM_SENDER_ID</key>
	<string>199804307385</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.englishProject</string>
	<key>PROJECT_ID</key>
	<string>smartenglish-dd78e</string>
	<key>STORAGE_BUCKET</key>
	<string>smartenglish-dd78e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:199804307385:ios:915afde761b2b32f8f1868</string>
</dict>
</plist>